{% extends "base.html" %}
{% block content %}

<div id="delete_invoice_modal" tabindex="-1" class="modal fade" data-backdrop="static"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Invoice?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete invoice "<span id="delete_invoice_modal_value"></span>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteInvoice()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="new_invoice_modal" tabindex="-1" class="modal fade" data-backdrop="static" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title">New Invoice</h5>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <label for="new_invoice_number">Invoice Number:</label>
                <input id="new_invoice_number" type="text" name="invoice_number" style="text-align: right;" required><br>

                <label for="new_invoice_date">Date:</label>
                <input id="new_invoice_date" type="date" name="date" required><br>

                <label for="new_invoice_due_date">Due Date:</label>
                <input id="new_invoice_due_date" type="date" name="date" required><br>

                <label for="new_invoice_reference_number">Reference Number:</label>
                <input id="new_invoice_reference_number" type="text" name="invoice_reference_number"><br>

                <label for="new_invoice_customer_name">Customer Name:</label>
                <input id="new_invoice_customer_name" type="text" name="customer_name" required><br>

                <label for="new_invoice_description">Description:</label>
                <textarea id="new_invoice_description" name="description" rows="3" required></textarea><br>

                <h2>Items</h2>
                <div class="table-responsive">
                    <table class="table table-bordered" id="itemsTable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItemsContainer">
                            <tr class="invoiceItem">
                                <td class="col-4"><input type="text" class="form-control" name="title[]" required>
                                </td>
                                <td class="col-5"><textarea class="form-control" name="description[]" rows="3"></textarea></td>
                                <td class="col-1"><input type="number" class="form-control" name="quantity[]" min="1"
                                                         value="1" required></td>
                                <td class="col-1"><input type="number" class="form-control" name="price[]" step="1" min="0"
                                                         value="0" required>
                                </td>
                                <td class="col-1" style="text-align: center;">
                                    <button type="button" class="btn btn-danger btn-sm removeItem">
                                        <span><i class="bi bi-trash"></i></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" id="addItem" class="btn btn-primary mb-3">Add Item</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="generateInvoice()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="container p-0 mt-1">
    <div id="warning_notification" class="alert alert-warning ms-2 me-2 mb-0 text-danger" role="alert"
         style="display: none">
        <span><i class="bi bi-exclamation-triangle mb-2 me-2"></i><span id="warning_notification_message">This is the warning notification message placeholder</span></span>
    </div>
    <div id="success_notification" class="alert alert-success ms-2 me-2 mb-0" role="alert"
         style="display: none">
        <span><i class="bi bi-check-square mb-2 me-2"></i><span id="success_notification_message">This is the success notification message placeholder</span></span>
    </div>
</div>

<div class="container mt-4">
    <h2>Active Invoices (<span id="active_invoices_count_value"></span>)</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="active_invoices_table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot style="border-top-width: thick;border-bottom-width: thick;">
            <tr>
                <td colspan="9"><b>Totals</b></td>
                <td><strong id="active_invoices_total_amount_value"></strong></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="container mt-4">
    <h2>Active Proposals (<span id="active_proposals_count_value"></span>)</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="active_proposals_table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot style="border-top-width: thick;border-bottom-width: thick;">
            <tr>
                <td colspan="9"><b>Totals</b></td>
                <td><strong id="active_proposals_total_amount_value"></strong></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    first_refresh_data_call = true;
    const newInvoiceModal = new bootstrap.Modal(document.getElementById('new_invoice_modal'), {backdrop: 'static'});

    function showNewInvoiceModal() {
        $('#loading_modal').modal('show');

        setNewInvoiceDate();

        $.ajax({
            type: 'GET',
            url: '/new_invoice_number',
            success: function(data) {
                $('#loading_modal').modal('hide');
                $('#new_invoice_number').val(data);

                newInvoiceModal.show();
            },
            error: function (error) {
                $('#loading_modal').modal('hide');
                notify_warning('Error while retrieving a new invoice number! Reason: ' + error);
            }
        });

        $('#invoiceItemsContainer tr.item:not(:first)').remove();

        // Clear the inputs of the first row
        var firstRow = $('#invoiceItemsContainer tr.item:first');
        firstRow.find('input[type="text"]').val('');
        firstRow.find('input[name="quantity[]"]').val('1');
        firstRow.find('input[name="price[]"]').val('0');
    }

    function generateInvoice() {
        var items = [];
        $('.invoiceItem').each(function() {
            var item = {
                title: $(this).find('input[name="title[]"]').val(),
                description: $(this).find('textarea[name="description[]"]').val(),
                quantity: parseInt($(this).find('input[name="quantity[]"]').val()),
                price: parseFloat($(this).find('input[name="price[]"]').val())
            };
            items.push(item);
        });

        $.ajax({
            url: '/generate_invoice',
            method: 'POST',
            data: {
                invoice_number: $('#new_invoice_number').val(),
                invoice_date: $('#new_invoice_date').val(),
                due_date: $('#new_invoice_due_date').val(),
                customer_name: $('#new_invoice_customer_name').val(),
                reference_number: $('#new_invoice_reference_number').val(),
                description: $('#new_invoice_description').val(),
                items: JSON.stringify(items)
            },
            success: function(data) {
                $('#loading_modal').modal('hide');
                if (!response)
                    notify_warning('Error while creating a new invoice');
                else
                    notify_success('New invoice successfully created!');
            },
            error: function (error) {
                $('#loading_modal').modal('hide');
                notify_warning('Error while creating a new invoice! Reason: ' + error);
            }
        });
    }

    function refreshData() {
        if (first_refresh_data_call) {
            $('#loading_modal').modal('hide');
            first_refresh_data_call = false;
        }
    <!--    $.ajax({-->
    <!--        type: 'GET',-->
    <!--        url: '/data',-->
    <!--        success: function(data) {            -->
    <!--            if (first_refresh_data_call) {-->
    <!--                $('#loading_modal').modal('hide');-->
    <!--                first_refresh_data_call = false;-->
    <!--            }-->
    <!--        },-->
    <!--        error: function (error) {-->
    <!--            if (first_refresh_data_call) {-->
    <!--                $('#loading_modal').modal('hide');-->
    <!--                first_refresh_data_call = false;-->
    <!--            }-->

    <!--            if (!connection_lost_dialog_shown) {-->
    <!--                notify_warning('Error refreshing data: ' + error);-->
    <!--            }-->
    <!--        }-->
    <!--    });-->
    }

    $(document).ready(function() {
        $('#loading_modal').modal('show');

        $('#addItem').click(function() {
                var newItem = $('<tr class="item">' +
                    '<td class="col-4"><input type="text" class="form-control" name="title[]" required></td>' +
                    '<td class="col-5"><textarea class="form-control" name="description[]" rows="3"></textarea></td>' +
                    '<td class="col-1"><input type="number" class="form-control" name="quantity[]" min="1" value="1" required></td>' +
                    '<td class="col-1"><input type="number" class="form-control" name="price[]" step="1" min="0" value="0" required></td>' +
                    '<td class="col-1" style="text-align: center;"><button type="button" class="btn btn-danger btn-sm removeItem"><span><i class="bi bi-trash"></i></span></button></td>' +
                    '</tr>');
                $('#itemsContainer').append(newItem);
        });

        $(document).on('click', '.removeItem', function() {
            $(this).closest('tr').remove();
        });

        // Call the refreshData function every 1 seconds
        setInterval(refreshData, 1000);
    });

    // Function to set today's date
    function setNewInvoiceDate() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $('#new_invoice_date').val(today);

        // Compute the due date
        var dueDate = new Date();
        dueDate.setDate(dueDate.getDate() + {{ invoice_valid_for_days }});
        var dd = String(dueDate.getDate()).padStart(2, '0');
        var mm = String(dueDate.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = dueDate.getFullYear();

        dueDate = yyyy + '-' + mm + '-' + dd;
        $('#new_invoice_due_date').val(dueDate);
    }

    function notify_success(message) {
        $('#success_notification_message').html(message);
        $("#success_notification").fadeIn();
        setTimeout(function () {
            $("#success_notification").fadeOut();
        }, 5000);
    }

    function notify_warning(message) {
        $('#warning_notification_message').html(message);
        $("#warning_notification").fadeIn();
        setTimeout(function () {
            $("#warning_notification").fadeOut();
        }, 5000);
    }
</script>

{% endblock %}